<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Twitter feed</title>
	</head>
	<body>
		<h3>Feed</h3>
		<div id="feed">
		{{range .Msgs}}<div>{{ .UUID }}: {{ .Content }} </div>{{end}}
		</div>
	</body>
	<script>
	const evtSource = new EventSource("{{ .SSEPath }}");

	evtSource.addEventListener("messages", (event) => {
		const newElement = document.createElement("div");
		const eventList = document.getElementById("feed");
		const data = JSON.parse(event.data);
		newElement.textContent = data.uuid + ": " + data.content;
		eventList.prepend(newElement);
	  });
	</script>
</html>